<!-- IF S_DISPLAY_PREVIEW and WOLFSBLVT_POLL_SCORING -->
<!-- IF not $INCLUDED_JXTOOLSJS -->
    <!-- INCLUDEJS lib/jxtools.js -->
	<!-- DEFINE $INCLUDED_JXTOOLSJS = true -->
<!-- ENDIF -->
	<div id="ap_poll_preview_hidden_container" style="display:none;" jxdom-target="#preview fieldset.polls" jxdom-action="replace">
		<fieldset class="polls">
		<!-- BEGIN poll_option -->
			<dl>
				<dt><label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label></dt>
				<dd style="width: auto;">
				<!-- IF AP_IS_SCORING -->
					<select name="vote_id[{poll_option.POLL_OPTION_ID}]" id="vote_{poll_option.POLL_OPTION_ID}">{poll_option.AP_POLL_OPTION_OPTS}</select>
				<!-- ELSE -->
					<input type="<!-- IF S_IS_MULTI_CHOICE -->checkbox<!-- ELSE -->radio<!-- ENDIF -->" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}" />
				<!-- ENDIF -->
				</dd>
			</dl>
		<!-- END poll_option -->
		</fieldset>
	</div>
<!-- ENDIF -->
