<!-- IF not S_POLL_VOTE_CHANGE -->
	<hr class="dashed" />
<!-- ENDIF -->

<!-- IF WOLFSBLVT_POLL_VOTES_HIDE -->
<dl>
	<dt><label for="wolfsblvt_poll_votes_hide">{L_AP_POLL_VOTES_HIDE}{L_COLON}</label></dt>
	<dd><label for="wolfsblvt_poll_votes_hide"><input type="checkbox" id="wolfsblvt_poll_votes_hide" name="wolfsblvt_poll_votes_hide"{WOLFSBLVT_POLL_VOTES_HIDE_CHECKED} /> {L_AP_POLL_VOTES_HIDE_EXPLAIN}</label></dd>
</dl>
<!-- ENDIF -->
<!-- IF WOLFSBLVT_POLL_VOTERS_SHOW -->
<dl>
	<dt><label for="wolfsblvt_poll_voters_show">{L_AP_POLL_VOTERS_SHOW}{L_COLON}</label></dt>
	<dd><label for="wolfsblvt_poll_voters_show"><input type="checkbox" id="wolfsblvt_poll_voters_show" name="wolfsblvt_poll_voters_show"{WOLFSBLVT_POLL_VOTERS_SHOW_CHECKED} /> {L_AP_POLL_VOTERS_SHOW_EXPLAIN}</label></dd>
</dl>
<!-- ENDIF -->
<!-- IF WOLFSBLVT_POLL_VOTERS_LIMIT -->
<dl>
	<dt><label for="wolfsblvt_poll_voters_limit">{L_AP_POLL_VOTERS_LIMIT}{L_COLON}</label></dt>
	<dd><label for="wolfsblvt_poll_voters_limit"><input type="checkbox" id="wolfsblvt_poll_voters_limit" name="wolfsblvt_poll_voters_limit"{WOLFSBLVT_POLL_VOTERS_LIMIT_CHECKED} /> {L_AP_POLL_VOTERS_LIMIT_EXPLAIN}</label></dd>
</dl>
<!-- ENDIF -->

<!-- DEFINE $AP_EXTENDED_POLL_OPTIONS = true -->