<!-- IF WOLFSBLVT_POLL_VOTES_HIDE -->
<tr>
	<td class="row1"><b class="genmed">{L_AP_POLL_VOTES_HIDE}{L_COLON}</b><br /><span class="gensmall">{L_AP_POLL_VOTES_HIDE_EXPLAIN}</span></td>
	<td class="row2"><input type="checkbox" class="radio" name="wolfsblvt_poll_votes_hide"{WOLFSBLVT_POLL_VOTES_HIDE_CHECKED} /></td>
</tr>
<!-- ENDIF -->
<!-- IF WOLFSBLVT_POLL_VOTERS_SHOW -->
<tr>
	<td class="row1"><b class="genmed">{L_AP_POLL_VOTERS_SHOW}{L_COLON}</b><br /><span class="gensmall">{L_AP_POLL_VOTERS_SHOW_EXPLAIN}</span></td>
	<td class="row2"><input type="checkbox" class="radio" name="wolfsblvt_poll_voters_show"{WOLFSBLVT_POLL_VOTERS_SHOW_CHECKED} /></td>
</tr>
<!-- ENDIF -->
<!-- IF WOLFSBLVT_POLL_VOTERS_LIMIT -->
<tr>
	<td class="row1"><b class="genmed">{L_AP_POLL_VOTERS_LIMIT}{L_COLON}</b><br /><span class="gensmall">{L_AP_POLL_VOTERS_LIMIT_EXPLAIN}</span></td>
	<td class="row2"><input type="checkbox" class="radio" name="wolfsblvt_poll_voters_limit"{WOLFSBLVT_POLL_VOTERS_LIMIT_CHECKED} /></td>
</tr>
<!-- ENDIF -->

<!-- DEFINE $AP_EXTENDED_POLL_OPTIONS = true -->